.a{
    width: 100%;
    height: 100vh;
    /* background: black; */
    background: url(https://jag.in.ua/upload/resize_cache/iblock/b70/1200_700_1/DSC05436.JPG);
}
.b{
    width: 100%;
    height: 100vh;
    background: url(https://cs1.livemaster.ru/storage/3b/e1/bb25ac76e56373a5b5e132b0f7vl--kartiny-i-panno-kopiya-kartiny-leonida-afremova.jpg);
}
.c{
    width: 100%;
    height: 100vh;
    background: url(https://www.dhresource.com/600x600/f2/albu/g5/M01/D8/B3/rBVaJFnnYLiAB4NIAAFnjg8ocD4870.jpg);
}