.orange{
    padding: 15px;
    color: azure;
    background: orange;
    text-align: center;
}
.red{
    padding: 15px;
    color: azure;
    background: red;
    text-align: center;
}
.s{
    color: black;
    padding: 10px;
    background: chartreuse;
    text-align: center;
}
